* {
  box-sizing: border-box;
}

@font-face {
  src: url("fonts/Karla-Regular.ttf");
  font-family: Karla;
}

@font-face {
  font-family: Inter;
  src: url("./fonts/Inter-Regular.ttf");
}

html {
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Karla, sans-serif;
}

.disabled {
  opacity: 0.2;
  pointer-events: none;
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Home page */

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home-title {
  color: #293264;
  font-size: 1.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.home-subheading,
.home-button {
  font-family: Inter, sans-serif;
  font-size: 1rem;
  line-height: normal;
  font-style: normal;
}

.home-subheading {
  color: #293264;
  font-weight: 400;
  margin: 0.4375em 0 1.875em;
}

.home-button {
  color: #F5F7FB;
  font-weight: 500;
  border-radius: 15px;
  background: #4D5B9E;
  padding: 0.9375em, 1.875em;
  width: 193px;
  height: 52px;
  flex-shrink: 0;
}

/* Questions page */

.questions {
  width: 250px;
  margin: 0 auto;
}

.question {
  /* padding: 1em; */
  color: #293264;
  font-family: Karla;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  flex-shrink: 0;
  /* background-color: red; */
  display: grid;
  grid-template: repeat(5, auto) / 1fr;
  grid-template-areas:
    "question"
    "one"
    "two"
    "three"
    "four";
  gap: 10px;
  justify-items: center;
  align-items: center;
}

.prompt {
  grid-area: question;
  color: #293264;
  font-family: Karla;
  font-size: 1rem;
}