* {
  box-sizing: border-box;
}

@font-face {
  src: url("fonts/Karla-Regular.ttf");
  font-family: Karla;
}

@font-face {
  font-family: Inter;
  src: url("./fonts/Inter-Regular.ttf");
}

html {
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Karla, sans-serif;
}

.disabled {
  opacity: 0.2;
  pointer-events: none;
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Home page */

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home-title {
  color: #293264;
  font-size: 1.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.home-subheading,
.home-button {
  font-family: Inter, sans-serif;
  font-size: 1rem;
  line-height: normal;
  font-style: normal;
}

.home-subheading {
  color: #293264;
  font-weight: 400;
  margin: 0.4375em 0 1.875em;
}

.home-button {
  color: #F5F7FB;
  font-weight: 500;
  border-radius: 15px;
  background: #4D5B9E;
  padding: 0.9375em, 1.875em;
  width: 193px;
  height: 52px;
  flex-shrink: 0;
}

/* Questions page */

.questions {
  width: 250px;
  margin: 0 auto;
}

.question {
  /* padding: 1em; */
  color: #293264;
  font-family: Karla;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  flex-shrink: 0;
  /* background-color: red; */
  display: grid;
  grid-template: repeat(5, auto) / 1fr;
  grid-template-areas:
    "question"
    "one"
    "two"
    "three"
    "four";
  gap: 10px;
  justify-items: center;
  align-items: center;
}

.prompt {
  grid-area: question;
  color: #293264;
  font-family: Karla;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.answer {
  text-align: center;
  align-self: center;
  padding: 0.25em .5em;
  border-radius: 8px;
  border: 0.8px solid #4D5B9E;
  font-size: 0.625rem;
  cursor: pointer;
}

.answer:hover,
.answer:focus {
  background-color: #D6DBF5;
}

/* button {
  border-radius: 7.942px;
  background: white;
  color: #293264;
  text-align: center;
  font-family: Inter;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
} */

input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

label {
  display: inline-block;
  text-align: center;
  padding: 0.25em 1em;
  min-width: 150px;
  min-height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 0.8px solid #4D5B9E;
  font-size: .9rem;
}

input[type="radio"]:checked+label {
  border-radius: 7.9px;
  background: #D6DBF5;
  color: #293264;
  text-align: center;
  font-family: Inter;
  font-size: .9rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.back-home-button,
.submit-answers-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F5F7FB;
  font-family: Inter;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 600;
  line-height: nrmal;
  padding: 2em 4em;
  background-color: #4D5B9E;
  width: 120px;
  height: 35px;
  flex-shrink: 0;
  margin: 1.875em 0 1.875em;
  cursor: pointer;
  border-radius: 7.9px;
}



/* .error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100svh;
} */

@media (min-width: 768px) {
  .questions {
    width: 650px;
  }

  .question {
    grid-template: repeat(2, auto) / repeat(4, 1fr);
    grid-template-areas:
      "question question question question"
      "one two three four";
    gap: 20px;
  }

  .button-container {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.5em;
  }

}

/* SVG images */

.lemon-blob {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.lavender-blob {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

@media (min-width: 1024px) {
  /* .app {
    height: 100vh;
  } */

  .prompt {
    font-size: 1.2rem;
  }

  .answer {
    font-size: .8rem;
  }

  .back-home-button,
  .submit-answers-button {
    font-size: 1rem;
    padding: 1.5em;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .quiz-heading {
    font-size: 5rem;
  }
}

@media (min-width: 1440px) {
  .prompt {
    font-size: 1.6rem;
  }

  .answer {
    font-size: 1rem;
  }
}

@media (min-width: 2560px) {
  .quiz-heading {
    font-size: 10rem;
  }

  .questions {
    width: 1500px;
  }

  .prompt {
    font-size: 2.8rem;
  }

  .answer {
    font-size: 2rem;
  }

  .back-home-button {
    font-size: 3rem;
    padding: 2em;
    width: 500px;
  }
}